<div id='templates'>
    <div id='headerDatePicker'>
		<header>
	        <h2>{{headerText}}</h2>
	        <div><select id="datePickerSelectedDay"></select></div>
	    </header>
    </div>
    <div id="contentInfo" class="content">
        <header>
            <span class='header2'>{{subTitle}}</span>
            <span id="selectedDate"></span>
        </header>
        <div id="results">
            <div id="numberContainer"></div>
            <div id="tableContainer"></div>
        </div>
    </div>
    <div id="ball">
    	<li>{{number}}</li>
    </div>
    <div id="extraBall">
    	<li class="extra">{{number}}</li>
    </div>
</div>
